<header class="site-header">
  <div class="header">
    <div class="logo animated fadeIn">bit<span>.</span>brain</div>
  </div>

  <div class="menu table animated fadeIn">
    <div class="table-cell"><a href="{{ "/" | prepend: site.baseurl }}"><i class="fa fa-terminal"></i>blog</a></div>
    <div class="table-cell"><a href="{{ "/games" | prepend: site.baseurl }}"><i class="fa fa-gamepad"></i>games</a></div>
    <div class="table-cell"><a href="{{ "/media" | prepend: site.baseurl }}"><i class="fa fa-play-circle"></i>media</a></div>
    <div class="table-cell"><a href="https://github.com/MyRealityCoding"><i class="fa fa-github"></i>code</a></div>
  </div>
</header>
