<header class="site-header">
  <div class="header">
    <div class="logo animated fadeIn">my<span>:</span>reality</div>
  </div>
  <div class="menu table animated fadeIn">
  {% for link in site.navigation %}
         {% assign current = link.url|append:"index.html" %}
         <div class="table-cell">
         {% if link.url contains "http" %}
           <a href="{{ link.url }}" title="{{link.title}}" target="_blank">
         {% else %}
           <a href="{{ link.url | prepend: site.baseurl }}" title="{{link.title}}">
         {% endif %}
         {% if link.icon != null %}
            <i class="fa fa-{{ link.icon }}"></i>{% endif %}{{ link.text }}</a></div>
  {% endfor %}
  </div>
</header>
