<header class="site-header">
  <div class="header">
    <div class="logo animated fadeIn">bit<span>.</span>brain</div>
  </div>

  <div class="menu table animated fadeIn">
    <div class="table-cell"><a href="#"><i class="fa fa-terminal"></i>blog</a></div>
    <div class="table-cell"><a href="#"><i class="fa fa-gamepad"></i>games</a></div>
    <div class="table-cell"><a href="#"><i class="fa fa-play-circle"></i>media</a></div>
    <div class="table-cell"><a href="#"><i class="fa fa-archive"></i>about</a></div>
  </div>
</header>
