// Reset styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: $clr-foreground;
  background-color: $clr-background;
}

a {
  color: $clr-primary;
  text-decoration: none;
  &:hover { color: lighten($clr-primary, 10%); }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: white;
  font-weight: normal;
}

.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.text-center {
  text-align: center;
}
