// Reset styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: $clr-foreground;
  background-color: $clr-background;
}

a {
  color: $clr-primary;
  text-decoration: none;
  &:hover { color: lighten($clr-primary, 10%); }
}
