body {
    text-align: center;
}

.logo {
  margin-top: 10px;
  margin-bottom: 12px;
  & > span { color: $clr-primary; }
}

.header {
  & > div { display: inline-block; }
  font-size: 30px;
  width: 100%;
  background-color: darken($clr-background, 4%);
  margin-bottom: 12px;
}

.logo {
  margin: 10px 30px;
}

.home {
  text-align: left;
  width: 595px;
  margin: auto;
}

.menu {
  margin-bottom: 20px;
  & > a {
    @include boxed;
    & > i { margin-right: 6px; }
    margin: 0 4px;
    color: $clr-foreground;
    display: inline-block;
    font-size: 16px;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
  }
}

.post-link {
  &.second { margin-left: 10px; }
  width: 270px;
  margin-bottom: 12px;
  display: inline-block;
  padding: 10px;
  @include boxed;
}
